<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<!---css--->
<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel='stylesheet' type='text/css' />
<link href="{{url_for('static' , filename = 'css/style.css')}}" rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="{{ url_for('static' , filename = 'css/chocolat.css')}}" type="text/css" media="screen">
<!---css--->
<!---js--->
<script src="{{url_for('static' , filename = 'js/jquery-1.11.1.min.js')}}"></script>
<script src="{{url_for('static' , filename = 'js/bootstrap.js')}}"></script>
<script src="{{url_for('static' , filename = 'js/script.js')}}"></script>
<!---js--->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Bootstrap Core CSS -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=ABeeZee:400,400italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<script src="{{url_for('static' , filename = 'js/jquery.chocolat.js')}}"></script>
		<!--lightboxfiles-->
		<script type="text/javascript">
		$(function() {
			$('.project a').Chocolat();
		});
		</script>
<!--script-->
<script src="{{url_for('static' , filename = 'js/modernizr.custom.97074.js')}}"></script>

<!--startsmothscrolling-->
<script type="text/javascript" src="{{url_for('static' , filename = 'js/move-top.js')}}"></script>
<script type="text/javascript" src="{{url_for('static' , filename = 'js/easing.js')}}"></script>
 <script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1200);
			});
		});
	</script>
<!--endsmothscrolling-->
<script src="{{url_for('static' , filename = 'js/responsiveslides.min.js')}}"></script>
				<script>
			// You can also use "$(window).load(function() {"
				$(function () {
			// Slideshow 4
				$("#slider3").responsiveSlides({
					auto: true,
					pager: false,
					nav: false,
					speed: 500,
					namespace: "callbacks",
					before: function () {
					$('.events').append("<li>before event fired.</li>");
					},
					after: function () {
					$('.events').append("<li>after event fired.</li>");
					}
				});
			});
</script>
<!--JS for animate-->
	<link href="{{url_for('static' , filename = 'css/animate.css')}}" rel="stylesheet" type="text/css" media="all">
	<script src="{{url_for('static' , filename = 'js/wow.min.js')}}"></script>
		<script>
			new WOW().init();
		</script>
	<!--//end-animate-->

	<style>
		/* Table Head */
#table-5 {margin:auto;
		  width:1000px;}
/* Border styles */
#table-5 thead, #table-5 tr {
border-top-width: 1px;
border-top-style: solid;
border-top-color: rgb(211, 202, 221);
}
#table-5 {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: rgb(211, 202, 221);
}

/* Padding and font style */
#table-5 td, #table-5 th {
padding: 5px 10px;
font-size: 12px;
font-family: Verdana;
color: rgb(95, 74, 121);
}

/* Alternating background colors */
#table-5 tr:nth-child(even) {
background: rgb(223, 216, 232)
}
#table-5 tr:nth-child(odd) {
background: #FFF
}

	</style>
</head>
<body>
	<div class="header-section" id="home">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
					<div class="logo wow fadeInDownBig animated animated" data-wow-delay="0.4s">
						<h1><a class="navbar-brand link link--yaku" href="index.html"><span>F</span><span>i</span><span>x</span>  <span>D</span><span>u</span><span>t</span><span>i</span><span>e</span><span>s</span></a></h1>
					</div>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
					<nav class="cl-effect-16" >
						<ul class="nav navbar-nav">
							<li><a class="active wow fadeInDownBig" data-wow-delay=".1s" href="index.html" data-hover="Home"><span>Home</span></a></li>
							<li><a href="#about" class="scroll wow fadeInDownBig" data-wow-delay=".2s" data-hover="About"><span>About</span></a></li>
							<li><a href="#services" class="scroll wow fadeInDownBig" data-wow-delay=".3s" data-hover="Services"><span>Services</span></a></li>
							<li><a href="#gallery" class="scroll wow fadeInDownBig" data-wow-delay=".4s" data-hover="Gallery"><span>Gallery</span></a></li>
							<li><a href="#teams" class="scroll wow fadeInDownBig" data-wow-delay=".6s" data-hover="Teams"><span>Teams</span></a></li>
							<li><a href="#prices" class="scroll wow fadeInDownBig" data-wow-delay=".8s" data-hover="Prices"><span>Prices</span></a></li>
							<li><a href="#contact" class="scroll wow fadeInDownBig" data-wow-delay=".9s" data-hover="Contact"><span>Contact</span></a></li>
						</ul>
					</nav>
				</div>
				<!-- /.navbar-collapse -->
			</nav>
		</div>
	</div>
	<!--banner-->
	<div class="banner-grid">
		<div class="container">
			<div  id="top" class="callbacks_container">
				<ul class="rslides" id="slider3">
					<li>
						<div class="banner-text">
							<h3  class="wow bounceIn" data-wow-delay="0.50s">心灵捕手</h3>
							<p class="wow fadeInUp" data-wow-delay="0.90s"> 基于集成学习的心理状态检测系统</p>
						</div>
					</li>
					<li>
						<div class="banner-text">
							<h3 class="wow bounceIn" data-wow-delay="0.50s"> Good Will Hunting</h3>
							<p class="wow fadeInUp" data-wow-delay="0.90s"> Mental state detection system based on integrated learning</p>
							
						</div>
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--banner-->
		<!--about-->
			<div class="about-section"  id="about">
				<div class="container">
					<h2>About Us</h2>
					<div class="about-grids">
						<div class="col-md-4 about-grid  wow fadeInLeft animated" data-wow-delay=".5s">
							<img src="{{url_for('static',filename ='images/p.jpg')}}" class="img-responsive" alt=""/>
							<div class="about-details hvr-rectangle-in">
								<div class="about-text">
									<h5>1</h5>
								</div>
								<h4>团队核心</h4>
								<p>本团队核心成员由来自合肥工业大学的5名成员组成，有着多个学科背景的支撑，如物联网、计算机、人工智能等，确保了团队的综合素质与职业水准。</p>
							</div>
						</div>
						<div class="col-md-4 about-grid  wow fadeInDownBig animated " data-wow-delay="0.5s">
						<img src="{{url_for('static' , filename = 'images/p1.jpg')}}" class="img-responsive" alt=""/>
						<div class="about-details hvr-rectangle-in">
								<div class="about-text">
									<h5>2</h5>
								</div>
								<h4>团队支撑点</h4>
								<p>拥有人工智能学院人工智能实验室、创客空间等多个技术平台的技术支撑并且坐拥安徽高校人才市场，有良好的人才储备库；核心竞争力在于强大的研发能力，拥有扎实的算法能力和强大的系统维护能力。</p>
							</div>
						</div>
						<div class="col-md-4 about-grid  wow fadeInRight animated" data-wow-delay=".5s">
						<img src="{{url_for('static' , filename = 'images/p2.jpg')}}" class="img-responsive" alt=""/>
						<div class="about-details hvr-rectangle-in">
								<div class="about-text">
									<h5>3</h5>
								</div>
								<h4>团队战略定位</h4>
								<p>响应国家政策号召，提升人民心理素质，提升现代刑侦水平，合力打造法治强国，打造智能课堂方案，提升教育教学质量，供应市场需求，我团队致力于研究和推广基于集成学习的心理研究与评测系统。</p>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		<!--about-->
		<!--services-->
		<div class="services-section" id="services">
			<div class="container">
				<h3>Our Services</h3>
				<div class="servc-grids">
					<div class="col-md-6 servc-grid wow fadeInLeft animated" data-wow-delay=".5s">
						<div class="col-xs-3 servc-grid-left">
							<span class="glyphicon glyphicon-th-large effect-1" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 servc-grid-right">
							<h4>Cum soluta nobis est eligendi</h4>
							<p>Itaque earum rerum hic tenetur a sapiente delectus 
							reiciendis maiores alias consequatur aut</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 servc-grid wow fadeInRight animated" data-wow-delay=".5s">
						<div class="col-xs-3 servc-grid-left">
							<span class="glyphicon glyphicon-user effect-1" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 servc-grid-right">
							<h4>Soluta nobis est cum eligendi</h4>
							<p>Itaque earum rerum hic tenetur a sapiente delectus 
							reiciendis maiores alias consequatur aut</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="servc-grids">
					<div class="col-md-6 servc-grid wow fadeInLeft animated" data-wow-delay=".5s">
						<div class="col-xs-3 servc-grid-left">
							<span class="glyphicon glyphicon-stats effect-1" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 servc-grid-right">
							<h4>Eligendi cum soluta nobis est</h4>
							<p>Itaque earum rerum hic tenetur a sapiente delectus 
							reiciendis maiores alias consequatur aut</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 servc-grid wow fadeInRight animated" data-wow-delay=".5s">
						<div class="col-xs-3 servc-grid-left">
							<span class="glyphicon glyphicon-globe effect-1" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 servc-grid-right">
							<h4>Nobis cum soluta est eligendi</h4>
							<p>Itaque earum rerum hic tenetur a sapiente delectus 
							reiciendis maiores alias consequatur aut</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="servc-grids">
					<div class="col-md-6 servc-grid wow fadeInLeft animated" data-wow-delay=".5s">
						<div class="col-xs-3 servc-grid-left">
							<span class="glyphicon glyphicon-cog effect-1" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 servc-grid-right">
							<h4>Cum soluta nobis est eligendi</h4>
							<p>Itaque earum rerum hic tenetur a sapiente delectus 
							reiciendis maiores alias consequatur aut</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="col-md-6 servc-grid wow fadeInRight animated" data-wow-delay=".5s">
						<div class="col-xs-3 servc-grid-left">
							<span class="glyphicon glyphicon-link effect-1" aria-hidden="true"></span>
						</div>
						<div class="col-xs-9 servc-grid-right">
							<h4>Soluta nobis cum est eligendi</h4>
							<p>Itaque earum rerum hic tenetur a sapiente delectus 
							reiciendis maiores alias consequatur aut</p>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!--services-->
		<!--projects-->
			<div class="project  wow bounceIn animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;" id="gallery">
				<div class="container">
					<h3>Our Gallery</h3>
					<div class="gallery-grids">
						<section>
							<ul id="da-thumbs" class="da-thumbs">
								<li>
									<a href="{{url_for('static' , filename = 'images/g11.jpg')}}" class="b-link-stripe b-animate-go thick box">
										<img src="{{url_for('static' , filename = 'images/g11.jpg')}}" alt="" />
										<div>
											<h5>view</h5>
											<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
										</div>
									</a>
								</li>
								<li>
									<a href="{{url_for('static' , filename = 'images/g12.jpg')}}" class="b-link-stripe b-animate-go  thick box">
										<img src="{{url_for('static' , filename = 'images/g12.jpg')}}" alt="" />
										<div>
											<h5>view</h5>
											<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
										</div>
									</a>
								</li>
								<li>
									<a href="{{url_for('static' , filename = 'images/g13.jpg')}}" class="b-link-stripe b-animate-go  thick box">
										<img src="{{url_for('static' , filename = 'images/g13.jpg')}}" alt="" />
										<div>
											<h5>view</h5>
											<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
										</div>
									</a>
								</li>
								<li>
									<a href="{{url_for('static' , filename = 'images/g14.jpg')}}" class="b-link-stripe b-animate-go  thick box">
										<img src="{{url_for('static' , filename = 'images/g14.jpg')}}" alt="" />
										<div>
											<h5>view</h5>
											<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
										</div>
									</a>
								</li>
								<li>	
									<a href="{{url_for('static' , filename = 'images/g15.jpg')}}" class="b-link-stripe b-animate-go  thick box">
										<img src="{{url_for('static' , filename = 'images/g15.jpg')}}" alt="" />
										<div>
											<h5>view</h5>
											<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
										</div>
									</a>
								</li>
								<li>
									<a href="{{url_for('static' , filename = 'images/g16.jpg')}}" class="b-link-stripe b-animate-go  thick box">
										<img src="{{url_for('static' , filename = 'images/g16.jpg')}}" alt="" />
										<div>
											<h5>view</h5>
											<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
										</div>
									</a>
								</li>
								<li>
									<a href="{{url_for('static' , filename = 'images/g17.jpg')}}" class="b-link-stripe b-animate-go  thick box">
										<img src="{{url_for('static' , filename = 'images/g17.jpg')}}" alt="" />
										<div>
											<h5>view</h5>
											<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
										</div>
									</a>
								</li>
								<li>
									<a href="{{url_for('static' , filename = 'images/g18.jpg')}}" class="b-link-stripe b-animate-go  thick box">
										<img src="{{url_for('static' , filename = 'images/g18.jpg')}}" alt="" />
										<div>
											<h5>view</h5>
											<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
										</div>
									</a>
								</li>
								<li>
									<a href="{{url_for('static' , filename = 'images/g14.jpg')}}" class="b-link-stripe b-animate-go  thick box">
										<img src="{{url_for('static' , filename = 'images/g14.jpg')}}" alt="" />
										<div>
											<h5>view</h5>
											<span>non suscipit leo fringilla non suscipit leo fringilla molestie</span>
										</div>
									</a>
								</li>
							</ul>
							<div class="clearfix"> </div>
						</section>
						<script type="{{url_for('static' , filename = 'text/javascript')}}" src="{{url_for('static' , filename = 'js/jquery.hoverdir.js')}}"></script>
							<script type="text/javascript">
							$(function() {
							
								$(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

							});
						</script>
					</div>
				</div>
			</div>
<!--gallery-->


		<!--projects-->
		<!--team-->
			<div class="team" id="teams">
				<div class="container">
					<h3>Our Teams</h3>
					<div class="team-grids">

						<div class="col-md-4 team-gd text-center wow fadeInLeft animated" data-wow-delay=".5s">
							<div class="morph pic">
								<img src="{{url_for('static' , filename = 'images/郭耀木.jpg')}}" alt="">
							</div>
							<h4>郭耀木</h4>
							<div class="social-icons">
								<a href="#"><i class="icon"></i></a>
								<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
								<a href="#"><i class="icon3"></i></a>
							</div>

							<p>L省级大创项目主持人，现任班长。有神经网络相关项目经验</p>
						</div>

						<div class="col-md-4 team-gd text-center wow fadeInUpBig animated animated" data-wow-delay="0.4s">
							<div class="morph pic">
								<img src="{{url_for('static' , filename = 'images/孙源乐.jpg')}}" alt="">
							</div>
							<h4>孙源乐</h4>
							<div class="social-icons">
								<a href="#"><i class="icon"></i></a>
								<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
								<a href="#"><i class="icon3"></i></a>
							</div>
							<p>参与省级大创项目，进行过小型系统开发，apriori算法的编写</p>
						</div>

						<div class="col-md-4 team-gd text-center wow fadeInRight animated" data-wow-delay=".5s">
							<div class="morph pic">
								<img src="{{url_for('static' , filename = 'images/刘鹏.jpg')}}" alt="">
							</div>
							<h4>刘鹏</h4>
							<div class="social-icons">
								<a href="#"><i class="icon"></i></a>
								<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
								<a href="#"><i class="icon3"></i></a>
							</div>
							<p>排序第二位参与省级大创项目，商业计划书大赛二等奖获得者</p>
						</div>
						<div class="col-md-4 team-gd text-center wow fadeInLeft animated" data-wow-delay=".5s">
							<div class="morph pic">
								<img src="{{url_for('static' , filename = 'images/张少华.jpg')}}" alt="">
							</div>
							<h4>张少华</h4>
							<div class="social-icons">
								<a href="#"><i class="icon"></i></a>
								<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
								<a href="#"><i class="icon3"></i></a>
							</div>

							<p>L参与省级大创项目，曾进行过小型系统开发，apriori算法的编写</p>
						</div>
<!--						第五个-->
						<div class="col-md-4 team-gd text-center wow fadeInUpBig animated animated" data-wow-delay="0.4s">
							<div class="morph pic">
								<img src="{{url_for('static' , filename = 'images/白其炜.jpg')}}" alt="">
							</div>
							<h4>白其炜</h4>
							<div class="social-icons">
								<a href="#"><i class="icon"></i></a>
								<a href="#"><i class="icon1"></i></a>
								<a href="#"><i class="icon2"></i></a>
								<a href="#"><i class="icon3"></i></a>
							</div>
							<p>参与省级大创项目深度学习、目标检测、集成学习、opencv、pytorch相关知识，有一定算法基础</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		<!--team-->
<!--	选择功能和价钱-->
		<div class="pricing-section" id="prices">
			<div class="container">
				<h3> Our Prices</h3>
				<div class="pricing-grids">
					<div class="col-md-3 pricing-grid wow fadeInLeft animated" data-wow-delay=".5s">
						<div class="pricing-top">
							<h4>Basic</h4>
						</div>
						<div class="pricing-bottom">
							<h5>$ 15.99 <span>P/M</span></h5>
								<ul>
									<li>5 GB Storage</li>
									<li>100 Email Accounts</li>
									<li>Maximum Speed</li>
									<li>Advanced DNS Control</li>
									<li>Unlimited Bandwith</li>
									<li>24/7 Support</li>
								</ul>
								<a href="./upload.html" class="button1 hvr-shutter-in-horizontal" data-toggle="modal" data-target="#myModal1">Buy Now</a>
						</div>
					</div>
					<div class="col-md-3 pricing-grid wow fadeInDownBig animated animated" data-wow-delay="0.4s">
						<div class="pricing-top">
							<h4>Premium</h4>
						</div>
						<div class="pricing-bottom">
							<h5>$ 15.99 <span>P/M</span></h5>
								<ul>
									<li>5 GB Storage</li>
									<li>100 Email Accounts</li>
									<li>Maximum Speed</li>
									<li>Advanced DNS Control</li>
									<li>Unlimited Bandwith</li>
									<li>24/7 Support</li>
								</ul>
								<a href="#" class="button1 hvr-shutter-in-horizontal" data-toggle="modal" data-target="#myModal1">Buy Now</a>
						</div>
					</div>
					<div class="col-md-3 pricing-grid wow fadeInUpBig animated animated" data-wow-delay="0.4s">
						<div class="pricing-top">
							<h4>Professional</h4>
						</div>
						<div class="pricing-bottom">
							<h5>$ 15.99 <span>P/M</span></h5>
								<ul>
									<li>5 GB Storage</li>
									<li>100 Email Accounts</li>
									<li>Maximum Speed</li>
									<li>Advanced DNS Control</li>
									<li>Unlimited Bandwith</li>
									<li>24/7 Support</li>
								</ul>
								<a href="#" class="button1 hvr-shutter-in-horizontal" data-toggle="modal" data-target="#myModal1">Buy Now</a>
						</div>
					</div>
					<div class="col-md-3 pricing-grid wow fadeInRight animated" data-wow-delay=".5s">
						<div class="pricing-top">
							<h4>Advanced</h4>
						</div>
						<div class="pricing-bottom">
							<h5>$ 15.99 <span>P/M</span></h5>
								<ul>
									<li>5 GB Storage</li>
									<li>100 Email Accounts</li>
									<li>Maximum Speed</li>
									<li>Advanced DNS Control</li>
									<li>Unlimited Bandwith</li>
									<li>24/7 Support</li>
								</ul>
								<a href="#" class="button1 hvr-shutter-in-horizontal" data-toggle="modal" data-target="#myModal1">Buy Now</a>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<!--功能试用-->
<!--		<div class="services-section" >-->
<!--			<div class="container">-->
<!--				<h3>专业功能使用</h3>-->
<!--				<form method="POST" action="" enctype="multipart/form-data" >-->
<!--					<p><input type="file" name="file" multiple hidden ></p>-->
<!--					<p><input type="submit" value="Submit"></p>-->
<!--				</form>-->
<!--			</div>-->
<!--			<hr>-->
<!--		</div>-->
<!--	功能调试-->
	<div class="services-section" >
		<div class="container" >
			<h3>抑郁症检测</h3>
			<div class="wrapper"  >
				<form method="POST" action="" enctype="multipart/form-data"  style="position:relative">
<!--					<i class="fas fa-cloud-upload-alt"></i>-->

<!--		应该修改的位置：			-->　
					<input type="file"  name="file" style="position:absolute;opacity:0;" multiple  >
					<img src="https://files.getquicker.net/_sitefiles/_guides/52593d69-c99a-4367-8b98-08d9a65be47e/2022/04/14/183229_202824_Folder%203D.ico">
					<input type="submit" value="upload" >
<!--					jinjia 语言 -->
<!--&lt;!&ndash;
					{% if s != 0 %}

						<table>
							{% for key in results %}
								<tr>
									<td>{{key}}</td>
									<td>{{ results[key] }}</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}
						<p>Browse File to Upload</p>
					{% endif %}
-->
					<p>Browse File to Upload</p>
				</form>
			</div>
		</div>
	</div>

<!--测试：-->
	<div>
		<div class="services-section" >
		<div class="container" >
		{% if s != 0 %}

						<table id="table-5">
							<caption>本次提交检测结果</caption>
							{% for key in results %}
								<tr>
									<td>{{key}}</td>
									<td>{{ results[key] }}</td>
								</tr>
							{% endfor %}
						</table>
					{% else %}

					{% endif %}
		</div>
		</div>
	</div>

	<div class="services-section" >
		<div class="container" >
			<h3>专注度检测</h3>
			<div class="wrapper"  >
				<form method="POST" action="" enctype="multipart/form-data"  style="position:relative">
<!--					<i class="fas fa-cloud-upload-alt"></i>-->

<!--		应该修改的位置：			-->　
					<input type="file"  name="file" style="position:absolute;opacity:0;" multiple  >
					<img src="https://files.getquicker.net/_sitefiles/_guides/52593d69-c99a-4367-8b98-08d9a65be47e/2022/04/14/183229_202824_Folder%203D.ico">
					<input type="submit" value="upload" >

				</form>
			</div>
		</div>
	</div>


		<!--contact-->
			<div class="google-map">
			<iframe src=""></iframe>
			</div>
			<div class="contact-section" id="contact">
				<div class="container">
					<h3>Contact</h3>
					<div class="contact-grids">
						<div class="col-md-6 contact-grid wow fadeInLeft animated animated" data-wow-delay="0.4s">
							<h4>Contact Info</h4>
							<div class="info-detail">
										<ul><li><i class="glyphicon glyphicon-calendar"></i><strong>Monday - Friday : </strong> 9:30 AM to 6:30 PM</li></ul>
										<ul><li><i class="glyphicon glyphicon-map-marker"></i><strong>Address : </strong> 786 Sme Street , New Jersey, US, dc 999</li></ul>
										<ul><li><i class="glyphicon glyphicon-phone"></i><strong>Phone : </strong> (01) 0200-123-4567</li></ul>
										<ul><li><i class="glyphicon glyphicon-print"></i><strong>Fax : </strong> (01) 0091-789-456100</li></ul>
										<ul><li><i class="glyphicon glyphicon-envelope"></i><strong>Email : </strong> <a href="mailto:example@mail.com">example@mail.com</a></li></ul>
									</div>
						</div>
						<div class="col-md-6 contact-grid1 wow fadeInRight animated animated" data-wow-delay="0.4s">
						<h4>Leave Us A Message</h4>
							<form>
								<input type="text" placeholder="Name" required="">
								<input type="text" class="mail" placeholder="Email" required="">
								<input type="text"  placeholder="Phone" required="">
								<textarea placeholder="Message"></textarea>
								<input type="submit" value="Submit">
							</form>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>

		<!--contact-->
	<div class="footer-section wow fadeInLeft animated animated" data-wow-delay="0.4s">
		<div class="container">
			<div class="copy">
				<p>Author Name: Sunyuanle Time 2022.12.15 Contact Information: 2171569822@qq.com All rights reserved.</p>
<!--				<p>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a></p>-->
			</div>
		</div>
	</div>
		<div class="modal fade" id="myModal1" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content modal-info">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>						
						</div>
						<div class="modal-body">
							<div class="compose-grids">
									<div class="payment-online-form-left">
											<form>
												<h4><span class="shipping"> </span>Shipping Details</h4>
												<ul>
													<li><input class="text-box-dark" type="text" value="First Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'First Name';}"></li>
													<li><input class="text-box-dark" type="text" value="Last Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Last Name';}"></li>
												</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}"></li>
													<li><input class="text-box-dark" type="text" value="Phone" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Phone';}"></li>
												</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Address';}"></li>
													<li><input class="text-box-dark" type="text" value="Pin Code" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Pin Code';}"></li>
													
												</ul>
												<div class="clearfix"></div>
												<h4 class="paymenthead"><span class="payment"></span>Payment Details</h4>
												<div class="clearfix"></div>
											<ul class="payment-type">
												<li><span class="col_checkbox">
													<input id="3" class="css-checkbox1" type="checkbox">
													<label for="3" class="css-label1"></label>
													<a class="visa" href="#"></a>
													</span>												
												</li>
												<li>
													<span class="col_checkbox">
														<input id="4" class="css-checkbox2" type="checkbox">
														<label for="4" class="css-label2"></label>
														<a class="paypal" href="#"></a>
													</span>
												</li>
											</ul>
												<ul>
													<li><input class="text-box-dark" type="text" value="Card Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Card Number';}"></li>
													<li><input class="text-box-dark" type="text" value="Name on card" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name on card';}"></li>
												
												</ul>
												<ul>
													<li><input class="text-box-light hasDatepicker" type="text" id="datepicker" value="Expiration Date" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Expiration Date';}"><em class="pay-date"> </em></li>
													<li><input class="text-box-dark" type="text" value="Security Code" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Security Code';}"></li>
												
												</ul>

									  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
									<button type="submit" class="btn btn-success">Process order</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
<script type="url_for('static',filename = text/javascript )">
						$(document).ready(function() {
							/*
							var defaults = {
					  			containerID: 'home', // fading element id
								containerHoverID: 'toTopHover', // fading element hover id
								scrollSpeed: 1200,
								easingType: 'linear'
					 		};
							*/

							$().UItoTop({ easingType: 'easeOutQuart' });

						});
					</script>
				<a href="#" id="hame" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<script>
	$(document).ready(function(){
    $('#my-img').click(function(){
        $('#img-upload').click();
    });

});
</script>
</body>
</html>
